@font-face { 
  font-family: BodoniXT; 
  src: url('BodoniXT.ttf'); 
} 

.marquee {
  position: fixed;
  width: 100%;
  line-height: 10px;
  font-size: 3em;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  z-index: -100;
  font-family: 'times new roman';
}
.marquee p {
  margin-top: 0em;
  display: inline-block;
  padding-left: 100%;
  animation: marquee 60s linear infinite;
}
.marquee1 p {
  margin-top: 3em;
  display: inline-block;
  padding-left: 100%;
  animation: marquee 63s linear infinite;
}
.marquee2 p {
  margin-top: 6em;
  display: inline-block;
  padding-left: 100%;
  animation: marquee 61s linear infinite;
}
.marquee3 p {
  margin-top: 9em;
  display: inline-block;
  padding-left: 100%;
  animation: marquee 66s linear infinite;
}
.marquee4 p {
  margin-top: 12em;
  display: inline-block;
  padding-left: 100%;
  animation: marquee 65s linear infinite;
}
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}
@keyframes marquee1 {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}
@keyframes marquee2 {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}
@keyframes marquee3 {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}
@keyframes marquee4 {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

body {
	background-color: white;
/*	font-family: 'consolas', 'monaco', fixed-width;
*/
/*  padding-top: 100px;*/
  font-family: BodoniXT;
}

#app {
	color: white;
	overflow: scroll;
	/*width: 200px;*/
}

#my_earth {
	top: 0; right: 0; bottom: 0; left: 0; position: absolute !important;
	width: 100%;
	height: 100%;
	z-index: 5;
}
#my_moon {
  top: 0; right: 0; bottom: 0; left: 0; position: absolute !important;
  width: 30%;
  height: 30%;
  z-index: 50;
}

audio {
	display: none;
}

h1 {
	font-size: 3em;
}

.top-container {
  color: red;
  font-size: 2em;
	background: transparent;
	position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  padding: 1% 0;
  margin-bottom: 2px;
  text-align: center;
  display: block;
}

/* top input is an empty input for style that also creates a header border, display as block to see*/
.top-input {
  color: white;
  font-size: 1em;
  background: transparent;
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  padding: 1% 0;
  margin-bottom: 2px;
  text-align: center;
}

.lower-right-input {
  display: none;
  position: absolute;
  right: 0.5%;
  top: 75%;
  width: 10%;
  background: red;
  color: white;
  padding: 1% 0;
  margin-bottom: 2px;
  text-align: center;
  z-index: 50;
  
}
.bottom-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.left-bar {
  margin-right: 1px;
  margin-top: 2px;
  bottom: 0;
  left: 0;
  text-align: center;
  cursor: pointer;
  position: static;
  float: left;
}
.right-bar {
  margin-top: 2px;
  bottom: 0;
  right: 0;
  text-align: center;
  cursor: pointer;
  position: static;
  float: right;
}
.half-bar {
	background: rgba(240, 240, 240, 0.8);
  color: black;
  width: calc(50% - 1px);
  font-size: 0.9em;
  padding: 0;
  /*purple #822de2*/
}
.full-bar {
/*  background: rgba(80, 19, 194, 0.80);*/
    background: -webkit-linear-gradient(left, rgba(255,0,0,0), rgba(80, 19, 194, 0.80)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(255,0,0,0), rgba(80, 19, 194, 0.80)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(255,0,0,0), rgba(80, 19, 194, 0.80)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255,0,0,0), rgba(80, 19, 194, 0.80)); /* Standard syntax (must be last) */
  color: black;
  width: 100%;
  font-size: 1em;
  text-align: center;
  padding: 1% 0;
  margin-top: 2px;
  display: inline-block;
}
.left-bar:hover, .right-bar:hover, .full-bar:hover{
  background: rgba(220, 220, 220, 1);
}
/*.video-bg {
  position: fixed; 
  z-index: -99; 
  width: 1000px; 
  height: 1000px;
  frameborder="0";
}*/

.post-box {
  padding: 1% 0;
  position: absolute;
  font-size: 2em;
  color: white;
  float: right;
  height: auto;
  background-color: rgba(256, 256, 256, 0.80);
  border: 1px solid white;
  border-radius: 50%;
  right: 200px;
  bottom: 576px;
  margin-bottom: 2px;
  text-align: center;
  z-index: 50;
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 150px;
  height: 100px;
}
.coord-input {
  margin-right: 2em;
}
#describe {
  color: black;
  text-align: center;
  font-size: 14px;
  margin-left: 1em;
}
#describe #how-to {
  font-size: 18px;
  font-family: serif;
}

.cesium-credit-textContainer:before {
  display: none !important;
}



